<h1>Mitgliedschaft Anpassen</h1>

<%= form_for @membership, :html => { :class => :default} do |f| %>
	
<div>
	<%= f.label :person %>
	<%= f.text_field :person, :disabled => true %>
</div>

<div>
	<%= f.label :instrument_id %>
	<%= f.select :instrument_id, Instrument.all.collect{ |i| [i.name, i.id] }, prompt_for_selects %>
</div>

<div>
	<%= f.submit %>
</div>

<% end %>


<% content_for :submenu do %>
	<li><%= link_to "Zurück", project_path(@membership.project) %></li>
<% end %>