<h1>Instrumentalisten</h1>

<table class="default">
  <tr>
    <th>Name</th>
    <th>Geburtsdatum</th>
    <th>Email</th>
    <th>Strasse</th>
    <th>PLZ</th>
    <th>Ort</th>
    <th>&nbsp;</th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person %></td>
    <td><%= person.birthdate %></td>
    <td><%= person.email %></td>
    <td><%= person.street %></td>
    <td><%= person.zip %></td>
    <td><%= person.city %></td>
    <td>
			<% if permitted_to? :manage, :instrumentalists %>
				<%= link_to image_tag("icons/pencil.png"), edit_instrumentalist_path(person) %>
				<%= link_to image_tag("icons/delete.png"), instrumentalist_path(person), :confirm => 'Soll diese Person wirklich gelöscht werden?', :method => :delete %></td>
			<% end %>
  </tr>
<% end %>
</table>

<br />

<% content_for :submenu do %>
<li><%= link_to 'Instrumentalist erfassen', new_instrumentalist_path %></li>
<% end %>
