<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @person.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @person.lastname %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @person.birthdate %>
</p>

<p>
  <b>Email:</b>
  <%= @person.email %>
</p>

<p>
  <b>Street:</b>
  <%= @person.street %>
</p>

<p>
  <b>Zip:</b>
  <%= @person.zip %>
</p>

<p>
  <b>City:</b>
  <%= @person.city %>
</p>

<p>
  <b>Country:</b>
  <%= @person.country %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
