<% include_tinymce %>

<div>
  <%= f.label :firstname, "Vorname" %>
  <%= f.text_field :firstname %>
</div>
<div>
  <%= f.label :lastname, "Nachname" %>
  <%= f.text_field :lastname %>
</div>
<div>
  <%= f.label :birthdate, "Geburtsdatum" %>
  <%= f.date_select :birthdate %>
</div>
<div>
  <%= f.label :email, "Email" %>
  <%= f.text_field :email %>
</div>
<div>
  <%= f.label :street, "Strasse und Nummer" %>
  <%= f.text_field :street %>
</div>
<div>
  <%= f.label :zip, "Postleitzahl" %>
  <%= f.text_field :zip %>
</div>
<div>
  <%= f.label :city, "Ort" %>
  <%= f.text_field :city %>
</div>
<div>
  <%= f.label :country, "Land" %>
  <%= f.country_select :country %>
</div>

<% if target.cv_form %>
<div>
	<%= f.label :cv, "CV" %>
	<%= f.text_area :cv, :class => "cv" %>
</div>

<%= render "shared/tinymce_initializer" %>
<% end %>