<h1>Listing people</h1>

<table class="default">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Birthdate</th>
    <th>Email</th>
    <th>Street</th>
    <th>Zip</th>
    <th>City</th>
    <th>Country</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.firstname %></td>
    <td><%= person.lastname %></td>
    <td><%= person.birthdate %></td>
    <td><%= person.email %></td>
    <td><%= person.street %></td>
    <td><%= person.zip %></td>
    <td><%= person.city %></td>
    <td><%= person.country %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %><br />
				<%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
