<%= form_for(@play, :url => project_plays_path(@play.project), :html => { :class => :default }) do |f| %>
	
	<%= render "shared/error_messages", :target => [@play, @composer] %>

  <div class="field">
    <%= f.label :title, "Titel" %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :year, "Jahr" %>
    <%= f.text_field :year %>
  </div>

	<h2>Komponist</h2>
	
	

	<div>
		<%= label_tag "composer[firstname]", "Vorname" %>
		<%= text_field_tag "composer[firstname]", @composer.firstname, { :size => "30", :disabled => params[:action] == "edit" ? true : false } %>
	</div>
	
	<div>
		<%= label_tag "composer[lastname]", "Nachname" %>
		<%= text_field_tag "composer[lastname]", @composer.lastname,  { :size => "30", :disabled => params[:action] == "edit" ? true : false } %>
	</div>

  <div class="actions">
    <%= f.submit label %>
  </div>
<% end %>
