<p>
<% if target.size > 0 %>
	<table class="default top_vertical_align">
		<thead>
			<tr>
				<th>Stück</th>
				<th>Komponist</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<% target.each do |p| %>
				<tr>
					<td><%= render "play_for_table", :play => p %></td>
					<td><%= p.composer %></td>
					<td><%= p.soloist ? "Solist: #{p.soloist}" : "" %></td>
					<td>
						<% if permitted_to? :manage, :plays %>
						<%= link_to image_tag("icons/pencil.png"), edit_project_play_path(:project_id => p.project.id, :id => p.id) %>
								<%= link_to image_tag("icons/delete.png"), project_play_path(:project_id => p.project.id, :id => p.id), :confirm => 'Are you sure?', :method => :delete %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	Das Programm zu diesem Projekt wurde noch nicht erfasst.
<% end %>
</p>