<h1>Programm <%= @project %></h1>

<%= render "plays_table", :target => @project.plays.order("program_position ASC") %>

<% content_for :submenu do %>
	<% if permitted_to? :manage, :plays %>
		<li><%= link_to 'St체ck Hinzuf체gen', new_project_play_path(@project) %></li>
		<% if @project.plays.any? %>
			<li><%= link_to_function "Programmreihenfolge 채ndern", 
		 				"Aulos.Popup.init('#{change_plays_order_project_path(:id => @project.id)}', {width: 650});" %></li>
		<% end %>
	<% end %>

	<li><%= link_to "Zur체ck zum Projekt", project_path(@project) %></li>
<% end %>
