<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @play.title %>
</p>

<p>
  <b>Year:</b>
  <%= @play.year %>
</p>


<%= link_to 'Edit', edit_play_path(@play) %> |
<%= link_to 'Back', plays_path %>
