<%= form_for(@user, :html => { :class => "default" }) do |f| %>

	<%= render "shared/error_messages", :target => @user %>
	
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :user_password, "Passwort" %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :user_password_confirmation, "Passwort bestätigen" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit label %>
  </div>
<% end %>
