<%= form_for(@order, :html => { :class => "default"} ) do |f| %>

	<%= render "shared/error_messages", :target => @order %>

  <div>
		<%= mark_required(@order, :firstname) %>
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </div>
  <div>
		<%= mark_required(@order, :firstname) %>
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </div>
  <div>
		<%= mark_required(@order, :firstname) %>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
		<%= mark_required(@order, :firstname) %>
    <%= f.label "Street and Number" %>
    <%= f.text_field :street %>
  </div>

  <div>
		<%= mark_required(@order, :firstname) %>
    <%= f.label :zip %>
    <%= f.text_field :zip %>
  </div>
  <div>
		<%= mark_required(@order, :firstname) %>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div>
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
