<%= form_for(@order, :html => { :class => "default"} ) do |f| %>

	<%= render "shared/error_messages", :target => @order %>
	
	<% if user_is_admin? && params[:action] == "edit" %>
		<div>
			<%= f.label :state, "Status" %>
			<%= f.select :state, Order::STATE.collect{|k, v| [v, k]} %>
		</div>
	<% end %>
	
  <div>
    <%= f.label :firstname, "Vorname" %>
    <%= f.text_field :firstname %>
  </div>
  <div>
    <%= f.label :lastname, "Nachname" %>
    <%= f.text_field :lastname %>
  </div>
  <div>
    <%= f.label :email, "Email" %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :street, "Srasse und Nummer" %>
    <%= f.text_field :street %>
  </div>

  <div>
    <%= f.label :zip, "PLZ" %>
    <%= f.text_field :zip %>
  </div>
  <div>
    <%= f.label :city, "Ort" %>
    <%= f.text_field :city %>
  </div>

	<%= captcha_block %>
	
  <div>
    <%= f.label :note, "Bemerkung" %>
    <%= f.text_area :note %>
  </div>

  <div class="actions">
    <%= f.submit label %>
  </div>
<% end %>
