<h1>Listing orders</h1>

<table class="default">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Strasse</th>
    <th>PLZ</th>
    <th>Stadt</th>
    <th>Land</th>
    <th>Status</th>
    <th>Aktion</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.customer %></td>
    <td><%= order.email %></td>
    <td><%= order.street_with_number %></td>
    <td><%= order.zip %></td>
    <td><%= order.city %></td>
    <td><%= order.country %></td>
    <td><%= order.status %></td>
    <td><%= link_to 'Details', order %><br />
    		<%= link_to 'Anpassen', edit_order_path(order) %><br />
    		<%= link_to 'Löschen', order, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
