<h1>Details der Bestellung</h1>

<p id="notice"><%= notice %></p>


<h2>Lieferadresse</h2>

<p>
<table class="default">

<tbody>
	<tr>
		<td class="property">Name</td>
		<td><%= @order.customer %></td>
	</tr>
	
	<tr>
		<td class="property">Email</td>
		<td><%= @order.email %></td>
	</tr>
	
	<tr>
		<td class="property">Strasse</td>
		<td><%= @order.street %></td>
	</tr>
	
	<tr>
		<td class="property">Ort</td>
		<td><%= @order.zip_with_city %></td>
	</tr>
	
</tbody>

</table>

</p>

<% content_for :submenu do %>

	<% if permitted_to? :manage, :orders %>
		<li><%= link_to 'Anpassen', edit_order_path(@order) %></li>
		<li><%= link_to 'Zurück', orders_path %></li>
	<% end %>

<% end %>