<h1>Konzert Termine <%= @project %></h1>

<p>
	Auf dieser Seite sind die Konzertdaten zum jeweiligen Projekt aufgelistet. Mit einem Klick auf eine Adresse eines Konzerts wird der jeweilige Standort im Lageplan markiert.
</p>

<p>
<% if @concerts.empty? %>
	<strong>Zur Zeit sind noch keine Konzerte für dieses Projekt angesetzt.</strong>
<% else %>
	
	<table class="default">
		<thead>
			<th>Anlass</th>
			<th>Zeit</th>
			<th>Ort</th>
			<th>&nbsp;</th>
		</thead>
		
		<tbody>
			<% @concerts.each do |c| %>
				<tr>
					<td><%= c %></td>
					<td><%= event_date_time_to_s(c.start_time) %></td>
					<td><%= link_to_function c.location, "Aulos.Maplocator.setMarker('Aulos Konzert', '#{event_time_for_tooltip(c.start_time)}','#{c.location.for_tooltip}')" %></td>
					<td>
						<% if permitted_to? :manage, :concerts %>
							<%= link_to image_tag("icons/pencil.png"), edit_project_concert_path(:project_id => @project.id, :id => c.id) %>
							<%= link_to image_tag("icons/delete.png"), project_concert_path(:project_id => @project.id, :id => c.id), :confirm => 'Soll dieses Konzert wirklich gelöscht werden?', :method => :delete %>
						<% end %>
					</td>
				</tr>
			<% end %>
			
		</tbody>
			
	</table>
	
<% end %>
</p>

<p>
	<h2>Lageplan</h2>
	
	<div id="map_canvas"></div>

</p>

<% content_for :submenu do %>
	<% if permitted_to? :manage, :concerts %>
		<li><%= link_to 'Konzert erfassen', new_project_concert_path( :project_id => @project.id) %></li>
	<% end %>
	<li><%= link_to "Zurück zum Projekt", project_path(@project) %></li>
<% end %>

<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=<%= APP_CONFIG["maps"]["api_key"] %>" 
type="text/javascript"></script>

<script type="text/javascript">
	Aulos.Maplocator.init("map_canvas");
</script>
