<%= form_for(@project, :url => url, :html => { :class => :default }) do |f| %>
	
	<%= render "shared/error_messages", :target => @project %>
	
	<div>
    <%= f.label :title, "Titel" %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description, "Beschreibung" %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :year, "Jahr" %>
    <%= f.text_field :year %>
  </div>

  <div class="actions">
    <%= f.submit label %>
  </div>
<% end %>
