<h1>Aulos Projekt Archiv</h1>

<p>
	Auf dieser Seite sind alle Projekte des aulos Blasorchesters aufgelistet. 
	Zusätzlich sind die jeweiligen Dirigenten verlinkt und die Programm Details aufgelistet.
</p>

<p>
<table class="default">
  <tr>
    <th width="20%">Projekt</th>
    <th width="20%">Dirigent</th>
		<th width="50%">Programm</th>
		<th width="10%">&nbsp;</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
		<td><%= link_to project.title, project %></td>
		<td><%= link_to "#{project.conductor}", project_conductors_path(:project_id => project.id) %></td>
    <td>Beispiel Programm</td>
		<td>
			<% if permitted_to? :manage, :projects %>
				<%= link_to image_tag("icons/pencil.png"), edit_project_path(project) %>
				<%= link_to image_tag("icons/delete.png"), 
							project, :confirm => 'Are you sure?', :method => :delete %>
			<% else %>
				&nbsp;
			<% end %>
			</td>
  </tr>
<% end %>
</table>
</p>


<% content_for :submenu do %>
	<% if permitted_to? :manage, :projects %>
		<li><%= link_to 'Neues Projekt erstellen', new_project_path %></li>
	<% end %>
<% end %>
