<h1><%= @project.title %></h1>

<% if @project.description %>
<h2>Beschreibung</h2>

<p>
	<%= @project.description %>
</p>

<% end %>

<h2>Besetzung</h2>

<h3>Dirigent</h3>

<p>
	
<% if @project.conductor %>
	
	<%= link_to @project.conductor, project_conductor_path(:project_id => @project.id, :id => @project.conductor.id) %>
	
<% else %>

	Zur Zeit ist noch kein Dirigent für dieses Projekt bestimmt.
	
<% end %>

</p>

<h3>Klarinette</h3>
	
<%= render "members_table", :target => @project.members.clarinets %>


<h3>Flöte</h3>

<%= render "members_table", :target => @project.members.flutes %>

<h3>Trompete</h3>

<%= render "members_table", :target => @project.members.trumpets %>

<h3>Saxophon</h3>

<%= render "members_table", :target => @project.members.saxophones %>



<% content_for :submenu do %>

	<li><%= link_to "Programm", project_plays_path(@project) %></li>
	<li><%= link_to "Konzert Termine", project_concerts_path(@project) %></li>
	<% if permitted_to? :manage, :projects %>
		<li><%= link_to 'Projekt Details Anpassen', edit_project_path(@project) %></li>
		<% if @project.conductor %>
			<li><%= link_to "Dirigent Editieren", edit_project_conductor_path(:project_id => @project.id, :id => @project.conductor.id) %></li>
		<% else %>
		<li><%= link_to "Dirigent Hinzufügen", new_project_conductor_path(@project) %></li>
		<% end %>
		
		<li><%= link_to_function "Mitglied Hinzufügen", 
		"Aulos.Popup.init('#{add_member_project_path(@project)}')" %></li>
	<% end %>
	<li><%= link_to 'Alle Projekte', projects_path %></li>
		
<% end %>
