<p id="notice"><%= notice %></p>

<h1><%= @project.title %></h1>


<% if @project.description %>
<h2>Beschreibung</h2>

<p>
	<%= @project.description %>
</p>

<% end %>

<h2>Besetzung</h2>


<p>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
</p>