<h1>Produkt Auswahl</h1>

<p>
<table class="default">
	<thead>
		<tr>
			<th width="30%">Titel</th>
			<th width="55%">Beschreibung</th>
			<th width="10%">Preis</th>
			<th width="5%">&nbsp;</th>
		</tr>
	</thead>
	
	<tbody>
		<% @products.each do |p| %>
		<tr>
			<td><%= p.title %></td>
			<td><%= p.description %></td>
			<td><%= number_to_chf(p.price) %></td>
			<td>
				<%= form_tag({ :action => "add_to_cart" }, :remote => true) do %>
					<%= hidden_field_tag :id, p.id %>
					<%= submit_tag "In den Warenkorb" %>
				<% end %>
				</td>
		</tr>
		<% end %>
	</tbody>
</table>

</p>