<h1>Instrumente</h1>

<table class="default">
  <tr>
    <th>Name</th>
    <th>Family</th>
    <th>&nbsp;</th>
  </tr>

<% @instruments.each do |instrument| %>
  <tr>
    <td><%= instrument.name %></td>
		<td><%= instrument.family_to_s %></td>
    <td>
			<% if permitted_to? :manage, :instruments %>
	    	<%= link_to image_tag("icons/pencil.png"), edit_instrument_path(instrument) %>
	    	<%= link_to image_tag("icons/delete.png"), instrument, :confirm => 'Soll dieses Instrument wirklich gelöscht werden?', :method => :delete %>
			<% end %>
		</td>
  </tr>
<% end %>
</table>

<% content_for :submenu do %>
<% if permitted_to? :manage, :instruments %>
	<li><%= link_to 'Neues Instrument erfassen', new_instrument_path %></li>
<% end %>
<% end %>
