<!DOCTYPE html>
<html>
<head>
  <title>Aulos</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body onload="DynarchMenu.setup('header-main-menu', { shadows: false, electric: true }); DynarchMenu.setup('header-right-menu', { shadows: false, electric: true });">

<div id="page">
	
	<div id="header">
		Titel der Home Page
	</div>
	
	<div id="menu-container">
		
		<div class="left">
			<ul id="header-main-menu">
				<li class="first"><%= link_to "Home", "/" %></li>
				<li><%= link_to "Über uns", about_path %>
					<ul>
						<li><%= link_to "Gallerie", gallery_path %></li>
					</ul>
				</li>
				<li><%= link_to "Projekte", projects_path %>
					<ul>
						<li><%= link_to "Aktuell", project_path(Project.current) %></li>
						<li><%= link_to "Archiv", projects_path %></li>
					</ul>
				</li>
				<li><%= link_to "Dirigenten", conductors_path %></li>
				<li>Kontakt
					<ul>
						<li><%= link_to "Vorstand", contact_path %></li>
						<li>Gästebuch</li>
					</ul>
				</li>
				<li><%= link_to "CD-Bestellen", products_path %></li>
				<% if permitted_to? :manage, :users %>
				<li>
					Admin
					<ul>
						<li><%= link_to "Mitglieder", people_path %></li>
						<li><%= link_to "Instrumente", instruments_path %></li>
						<li><%= link_to "Benutzer Accounts", users_path %></li>
						<li><%= link_to "Produkte", products_path %></li>
						<li><%= link_to "Bestellungen", orders_path %></li>
					</ul>
					</li>
				<% end %>
			</ul>
		</div>
		
		<div class="right">
			<ul id="header-right-menu">
				<li class="first">
				<% unless logged_in? %>
					<%= link_to "Login", :controller => "admin", :action => "login" %>
				<% else %>
					<%= link_to "Logout", :controller => "admin", :action => "logout" %>
				<% end %>
				</li>
			</ul>
		</div>
	</div>
	
	<div id="content">
		
		<div class="left-column">

			<% @cart = find_cart %>

				<div id="cart" 
				<% if @cart.items.empty? %>
				style="display: none;"
				<% end %>
				>
					<%= render "carts/cart" %>
				</div>

			
			<% if yield :submenu %>
			
			<ul class="side-menu">
				<%= yield :submenu %>
			</ul>
			
			<% end %>
			
		</div>
		
		<div class="right-column">
			
			<% if flash[:notice] %>
				<p id="notice"><%= flash[:notice] -%></p>
			<% end %>
			
			<%= yield %>
		</div>
	</div>
	
	<div id="footer">
	</div>
</div>

</body>
</html>
